{% extends "base.html" %}

{% block main_content %}
<form action="" method="POST" novalidate>
    {{ form.hidden_tag() }}

    {{ form..label}}
    {{ form.() }}
    {% for error in form..errors %}
        {{ error }}
    {% endfor %}
    <br />
    {{ form..label}}
    {{ form.() }}
    {% for error in form..errors %}
        {{ error }}
    {% endfor %}
    <br />
    {{ form.submit() }}
</form>

{% if  %}
<table>
    <caption></caption>
    {% for  in  %}
    <tr>
        <td>{{ [""] }}</td>
        <td>{{ [""] }}</td>
        <td>{{ [""] }}</td>
        <td>{{ [""] }}</td>
        <td>{{ [""] }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

<p>
    {{ outcome }}
</p>
<p>
    <a href="{{ url_for('') }}"></a>
</p>
{% endblock %}